<h1>All users</h1>

<ul>
  <li><%= link_to 'CSV Exports', csv_exports_path %></li>
  <li><%= button_to 'Export all users to CSV', csv_exports_path %></li>
</ul>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>

<%= paginate @users %>
